
/*----------------  MAIN CODE INDEX-------------------- */
.wrapper
{
    height: 635px;
    width: 1350px;
    background-color:purple; 
}
header
{
    height: 80px;
    width: 1350px;
    background-color: grey;
    padding: 10px;
}
header ul li
{
    display:inline-block;
    margin:0 10px;
}
header ul li a
{
    display:inline-block;
    margin:0 10px;
}
.navbar-nav
{
    flex-direction:row !important;
    
}
section
{

    width: 1350px;
   background-color:brown;

}
footer
{
  /*  margin-top: -17px;
    height: 100px;
    padding:0px;*/
    width: 1350px;
    background-color: black;

}

.logo
{
    padding-left: 0px;
    float: left;
    padding-left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.logo img
{
    padding-left: 30px;
    height:70px;
    width: 80px;
    float: right;
}
.logo h3
{
    font-size:20px; 
    margin-left:20px; 
    margin-block-start: 1.5em;
}
li a
{   
    color: black;
    text-decoration: none;
    
}

section .sec_img
{
      height: 565px;
    margin-top: 0px;
    background-image:url("images/1.jpeg");
    background-size:cover;
    
}
.box
{
   height: 300px;
    width: 450px;
    background-color: black;
    margin: auto;
    opacity: .7;
    color: white;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-55%,-34%);
    
}

/*---------------------------STUDENT-LOGIN----------------------------*/
.login_img
{
    
    margin-top: 0px;
    background-image:url("images/3.jpg");
    background-size: cover;
    height: 560px;

}
.box1
{
    height: 350px;
    width: 600px;
    background-color: black;
    margin: 70px auto;
    opacity: .7;
    color:white;
    padding: 30px;    
}

form .login
{
    margin:100px  auto  ;
}
input
{
    height:20px ;
    width: 150px;
}
.navbar-nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: row;
    padding-left: 0;
    margin-bottom: 0;

flex-direction:row !important;
}
/*---------------------------REGISTRATION---------------------------*/
.reg_img
{
    
    margin-top: 0px;
    background-image:url("images/6.jpg");
    background-size: cover;
}
.box2
{
    min-height: 490px;
    width: 600px;
    background-color: black;
    margin: 0 auto 0 auto;
    opacity: .7;
    color:white;
    padding: 40px;
    
}
form .signup
{
    margin:100px  auto  ;

}
